# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
establishments.find_one()

{'_id': ObjectId('662ade4a49008c5eafb9e556'),
 'FHRSID': 647177,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'PostCode': 'CT19 6PY',
 'Phone': '',
 'RatingValue': 4,
 'RatingKey': 'fhrs_4_en-gb',
 'RatingDate': '2014-03-31T00:00:00',
 'LocalAuthorityCode': '188',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'scores': {'Hygiene': 5, 'Structural': 5, 'ConfidenceInManagement': 10},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': 1.196408, 'latitude': 51.086058},
 'RightToReply': '',
 'Distance': 4591.821311183521,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/647177'}]}

In [7]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene' : { '$eq' : 20}}

# Use count_documents to display the number of documents in the result
result = establishments.count_documents(query)
print(f"No. of Documents in result: {result}")
print("-" *40)

# Display the first document in the results using pprint
data = list(establishments.find(query))
pprint(data[0])

No. of Documents in result: 41
----------------------------------------
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('662ade4a49008c5eafba0092'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [8]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(data)
# Display the number of rows in the DataFrame
print(f"The number of rows in the dataframe is {len(df)}")

# Display the first 10 rows of the DataFrame
df.head(10)

The number of rows in the dataframe is 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,662ade4a49008c5eafba0092,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,http://www.eastbourne.gov.uk/foodratings,Customerfirst@eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.27694, 'latitude': 50.769705}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
1,662ade4a49008c5eafba040d,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 1.278721, 'latitude': 51.857536}",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,662ade4a49008c5eafba071f,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 1.15927, 'latitude': 51.789429}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,662ade4a49008c5eafba0908,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.10202, 'latitude': 50.770885}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,662ade4a49008c5eafba0916,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.101446, 'latitude': 50.770724}",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
5,662ade4a49008c5eafba12b5,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.736349, 'latitude': 51.541448}",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
6,662ade4a49008c5eafba14d1,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.7121671, 'latitude': 51.5350065}",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
7,662ade4b49008c5eafba2a03,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,http://www.rochford.gov.uk,customerservices@rochford.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 0.602364, 'latitude': 51.591515}",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
8,662ade4b49008c5eafba2e49,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,http://www.sevenoaks.gov.uk/,environmental.health@sevenoaks.gov.uk,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': 0.146449998021126, 'latitude': 5...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
9,662ade4b49008c5eafba3654,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,http://www.basildon.gov.uk,ehs@basildon.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.462307, 'latitude': 51.57005}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [9]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName' : {'$regex': 'London'}, 'RatingValue' : {'$gte' : 4}}

# Use count_documents to display the number of documents in the result
result = establishments.count_documents(query)
print(f"No. of Documents in result: {result}")
print("-" *40)

# Display the first document in the results using pprint
data = list(establishments.find(query))
pprint(data[0])

No. of Documents in result: 33
----------------------------------------
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('662ade4a49008c5eafba1aa9'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [15]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(data)

# Display the number of rows in the DataFrame
print(f"The number of rows in the dataframe is {len(df)}")
print("-" *40)

# Display the first 10 rows of the DataFrame
df.head(10)

The number of rows in the dataframe is 5
----------------------------------------

,_id,BusinessName,RatingValue,geocode
0,662ade4b49008c5eafba37eb,Magic Wok,5,"{'longitude': 0.065179, 'latitude': 51.196736}"
1,662ade4b49008c5eafba40bc,Wolfe House Resid. Home,5,"{'longitude': 0.015813, 'latitude': 51.255431}"
2,662ade4b49008c5eafba3c78,Sultan Kebab House,5,"{'longitude': 0.070589, 'latitude': 51.266922}"
3,662ade4b49008c5eafba3062,Roochi Ltd,5,"{'longitude': 0.034461, 'latitude': 51.097521}"
4,662ade4b49008c5eafba28ef,Northall CPC,5,"{'longitude': 0.022783, 'latitude': 51.006613}"

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [78]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

# Defining the dgeree search and search point (latitude and longitude)
degree_search = 0.01
latitude = establishments.find_one({'BusinessName':'Penang Flavours'}, {'geocode.latitude' :1})
latitude = latitude['geocode']['latitude']
longitude = establishments.find_one({'BusinessName':'Penang Flavours'}, {'geocode.longitude' :1})
longitude = longitude['geocode']['longitude']

# Developing the query with sort, limit and output fields. The output fields have been limited for a neater look
# and to only show the essential info
query = {'RatingValue' : {'$eq' : 5},
         'geocode.latitude' : {'$gte' : (latitude - degree_search), '$lte' : (latitude + degree_search)},
         'geocode.longitude' : {'$gte' : (longitude - degree_search), '$lte' : (longitude + degree_search)}
}

# Note: The query has been sorted by Hygiene score. We have not sorted by nearest locations, in this query. If required the easiest way to do this would be is to use
# a function such as '$geoWithin' and '$centerSphere' 
sort = [('scores.Hygiene', 1)]
limit = 5
fields = {'scores.Hygiene':1, 'RatingValue':1, 'BusinessName':1, 'geocode.latitude':1, 'geocode.longitude':1 }

# # Printing only the essential fields for a cleaner look
data = list(establishments.find(query, fields).sort(sort).limit(limit))
pprint(data)

[{'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'RatingValue': 5,
  '_id': ObjectId('662ea5a26ba794666fab2c53'),
  'geocode': {'latitude': 51.4875335693359, 'longitude': 0.0925370007753372},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Atlantic Fish Bar',
  'RatingValue': 5,
  '_id': ObjectId('662ea5a26ba794666fab2c85'),
  'geocode': {'latitude': 51.4867296, 'longitude': 0.0912164},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Plumstead Manor Nursery',
  'RatingValue': 5,
  '_id': ObjectId('662ea5a26ba794666fab2c81'),
  'geocode': {'latitude': 51.481517791748, 'longitude': 0.0859939977526665},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Iceland',
  'RatingValue': 5,
  '_id': ObjectId('662ea5a26ba794666fab2c42'),
  'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
  'scores': {'Hygiene': 0}},
 {'BusinessName': 'Volunteer',
  'RatingValue': 5,
  '_id': ObjectId('662ea5a26ba794666fab2c69'),
  'geocode': {'latitude': 51.4873437, 'longitude': 0.09208},
  'scores': {'Hygiene': 0}}]

In [74]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(data)
df.head()

,_id,BusinessName,RatingValue,scores,geocode
0,662ade4b49008c5eafba37eb,Magic Wok,5,{'Hygiene': None},"{'longitude': 0.065179, 'latitude': 51.196736}"
1,662ade4b49008c5eafba40bc,Wolfe House Resid. Home,5,{'Hygiene': None},"{'longitude': 0.015813, 'latitude': 51.255431}"
2,662ade4b49008c5eafba3c78,Sultan Kebab House,5,{'Hygiene': None},"{'longitude': 0.070589, 'latitude': 51.266922}"
3,662ade4b49008c5eafba3062,Roochi Ltd,5,{'Hygiene': None},"{'longitude': 0.034461, 'latitude': 51.097521}"
4,662ade4b49008c5eafba28ef,Northall CPC,5,{'Hygiene': None},"{'longitude': 0.022783, 'latitude': 51.006613}"

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [75]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Match query
pl_match = {'$match' : {'scores.Hygiene' : { '$eq' : 0 }}}
# Group query
pl_group = {'$group': {'_id': '$LocalAuthorityName', 'count': { '$sum': 1 }}}

# Sory query
pl_sort = {'$sort': { 'count': -1 }}

# Limit query
pl_limit = {'$limit": 10'}

# Creation of the pipeline
pipeline = [pl_match, pl_group, pl_sort]
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(f"The number of rows in the dataframe is {len(results)}")
print("-" *40)

# Print the first 10 results - using a list comprehension
[results[i] for i in range(10)]

The number of rows in the dataframe is 55
----------------------------------------

[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [76]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame - using the shape function instead of len()
print(f"The number of rows in the dataframe is {df.shape[0]}")
print("-" *40)

# Display the first 10 rows of the DataFrame
df.head(10)

The number of rows in the dataframe is 55
----------------------------------------

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542